<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <a href="https://twitter.com/DuocUC"><ion-fab-button ><ion-icon name="logo-twitter"></ion-icon></ion-fab-button></a>
  </ion-fab-list>
  </ion-fab>
</ion-content>

